.save_row {
	margin-top: 20px;
	display: flex;
	gap: 8px;
}

.main_part {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.schedule_page {
	max-width: 1600px;
	width: calc(100% - 10px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.schedule_page_row {
	display: flex;
	justify-content: space-between;
}

.col_head {
	border-bottom: 1px solid var(--text-color);
}

.row_head {
	width: 100%;
	min-height: 100px;
	min-width: 100px;
	border-bottom: 1px solid var(--text-color);
	text-align: center;
	align-items: center;
}

td {
	min-height: 100px;
	min-width: 100px;
	padding: 2px;
	vertical-align: middle;
	padding: 2px;
	text-align: center;
	align-items: center;
	min-width: 100px;
	min-height: 100px;
}

th {
	vertical-align: middle;

	div {
		width: 100%;
		height: 100%;
	}
}

td {
	cursor: pointer;
	border-right: solid 1px var(--text-color);
	border-bottom: solid 1px var(--text-color);
}


tr td:last-child {
	border: 1 solid red;
}

.lesson {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.lesson label {
	margin-bottom: 5px;
}

.lesson_button {
	padding: 8px;
	margin: 0;
}

.lesson_button :hover {
	background: var(--text-color);
	color: var(--bg-color);
}

.select_block {
	background: var(--seccond);
}

select {
	padding: 8px;
	font-size: 14px;
	border-radius: 8px;
}

select:invalid {
	border: 2px solid red;
}

option {
	border-radius: 8px;
}

.select_option {
	color: red;
}

button {
	cursor: pointer;
}

.exist {
	background: orange;
}

form {
	.button_row {
		display: flex;
		justify-content: space-between;
	}

	.delete {
		background: red;
		color: white;
	}
}

.schedule_type_row {
	display: flex;
	gap: 8px;

	.enable {
		background: gray;
	}
}
